.background {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-card {
  padding: 30px;
  min-width: 320px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

label, input {
    display: block;
    width: 100%;
    margin-block: 8px;
}

label {
    font-weight: bold;
    text-align: center;
}

input {
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid black;
}

.submit {
    background-color: #29b4ff;
    color: white;
    border: none;
    margin-top: 16px;
    font-weight: bold;
    cursor: pointer;
}

.submit:hover {
    background-color: #249dde;
}

.style {
    text-decoration: none;
}