.character_title{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin-top:40px;
}

.original_characters {
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    text-align: left;
    margin-top:400px;
    }

.original_string {
    size:   2rem;
    color:  #ffffff;
    font-weight: 700;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }   

.original_string_value {
    size:   2rem;
    color:  #0e26ff;
    font-weight: 700;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    }
